@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", system-ui;
  font-size: 14px;
}

img{
  max-inline-size: 100%;
  block-size: auto;
}

.font-two{
  font-family: "Beau Rivage", cursive;
}

.container {
  inline-size: 80%;
  margin: auto;
}

@media(max-width: 768px) {
  .container {
    inline-size: 90%;
  }
}